<nav id="navbar">
    <a class="logo" href="{{ path('template', {'slug': null}) }}">
        <img src="/images/shlink-logo-white.png">&nbsp;&nbsp;Shlink
    </a>
    <button class="menu-collapser"><i class="fa fa-bars"></i></button>
    <ul class="menu">
        <li>
            <a href="{{ path('template', {'slug': 'installation'}) }}">
                <i class="fa fa-server"></i>&nbsp;&nbsp;Installation
            </a>
        </li><li>
            <a href="{{ path('template', {'slug': 'api-docs'}) }}">
                <i class="fa fa-book"></i>&nbsp;&nbsp;API Docs
            </a>
        </li><li>
            <a href="{{ path('template', {'slug': 'apps'}) }}">
                <i class="fa fa-rocket"></i>&nbsp;&nbsp;Apps
            </a>
        </li><li>
            <a href="https://github.com/shlinkio/shlink" target="_blank">
                <i class="fa fa-github"></i>&nbsp;&nbsp;Fork me
            </a>
        </li>
    </ul>
</nav>
