<header id="header">
    <div class="content">
        <h1><a href="{{ path('template', {"template": null}) }}">Shlink</a></h1>
        <p>
            A self-hosted URL shortener.<br />
            Shorten URLs and serve them under your own short domain.
        </p>
    </div>
    <div class="image"><img src="images/shlink-logo-white.png" alt="" /></div>
</header>
