{% extends 'api-docs.html.twig' %}

{% block apiContent %}
    <header>
        <h3>Endpoints</h3>
        <p>Base path: <code>/rest</code></p>
    </header>

    <div class="accordion">
        <section class="accordion-item">
            <div class="accordion-header">
                <div class="http-method post">POST</div>
                <h4>/authenticate</h4>
            </div>
            <div class="accordion-body">
                <div class="accordion-body-inner">
                    <blockquote>Perform a new authentication and get a token.</blockquote>
                    <table class="alt">
                        <tbody>
                            <tr>
                                <td>Body params</td>
                                <td>
                                    <ul>
                                        <li>apiKey: <code>string</code></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <b>SUCCESSFUL RESPONSE</b>
                    <pre>
                        <code>{
    "token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJTaGxpbms6djEuMS4wIiwiaWF0IjoxNDcwNTg5ODg5LCJleHAiOjE0NzExOTcwNzEsInN1YiI6ImF1dGgiLCJrZXkiOiIxIn0.idGejxATFkHvJ5z8fld3b3BzvJcvCYnrG6w3YHrcI58"
}</code>
                    </pre>
                    <b>ERROR RESPONSE</b>
                    <pre>
                        <code>{
    "error": "INVALID_ARGUMENT",
    "message": "You have to provide a valid API key under the "apiKey" param name"
}</code>
                    </pre>
                    <table class="alt errors-list">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Desc.</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>INVALID_ARGUMENT</b></td>
                                <td>API key was not provided</td>
                                <td>400</td>
                            </tr>
                            <tr>
                                <td><b>INVALID_API_KEY</b></td>
                                <td>The API key is incorrect, disabled or has expired incorrect</td>
                                <td>401</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <section class="accordion-item">
            <div class="accordion-header">
                <div class="http-method post">POST</div>
                <h4>/short-codes</h4>
            </div>
            <div class="accordion-body">
                <div class="accordion-body-inner">
                    <blockquote>Create a new shortened URL and get the generated short code and short URL.</blockquote>
                    <table class="alt">
                        <tbody>
                            <tr>
                                <td>Body params</td>
                                <td>
                                    <ul>
                                        <li>longUrl: <code>string</code> &rarr; The URL that will be shortened.</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <b>SUCCESSFUL RESPONSE</b>
                    <pre>
                        <code>{
    "longUrl": "https://www.facebook.com/something/something",
    "shortUrl": "https://doma.in/rY9Kr",
    "shortCode": "rY9Kr"
}</code>
                    </pre>
                    <b>ERROR RESPONSE</b>
                    <pre>
                        <code>{
    "error": "INVALID_URL",
    "message": "Provided URL \"http://foo.com\" is invalid. Try with a different one."
}</code>
                    </pre>
                    <table class="alt errors-list">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Desc.</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>INVALID_ARGUMENT</b></td>
                                <td>The longUrl was not provided</td>
                                <td>400</td>
                            </tr>
                            <tr>
                                <td><b>INVALID_URL</b></td>
                                <td>Provided longUrl has an invalid format or can't be resolved</td>
                                <td>400</td>
                            </tr>
                            <tr>
                                <td><b>UNKNOWN_ERROR</b></td>
                                <td>Something unexpected happened</td>
                                <td>500</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <section class="accordion-item">
            <div class="accordion-header">
                <div class="http-method get">GET</div>
                <h4>/short-codes/{shortCode}</h4>
            </div>
            <div class="accordion-body">
                <div class="accordion-body-inner">
                    <blockquote>Get the long URL behind provided short code.</blockquote>
                    <table class="alt">
                        <tbody>
                            <tr>
                                <td>Route params</td>
                                <td>
                                    <ul>
                                        <li>shortCode: <code>string</code> &rarr; The short code we want to resolve.</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <b>SUCCESSFUL RESPONSE</b>
                    <pre>
                        <code>{
    "longUrl": "https://www.facebook.com/something/something"
}</code>
                    </pre>
                    <b>ERROR RESPONSE</b>
                    <pre>
                        <code>{
    "error": "INVALID_SHORTCODE",
    "message": "Provided short code \"abc123\" has an invalid format"
}</code>
                    </pre>
                    <table class="alt errors-list">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Desc.</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>INVALID_ARGUMENT</b></td>
                                <td>No URL was found for provided shortCode</td>
                                <td>404</td>
                            </tr>
                            <tr>
                                <td><b>INVALID_SHORTCODE</b></td>
                                <td>Provided shortCode does not match the character set currently used by the app to generate short codes</td>
                                <td>400</td>
                            </tr>
                            <tr>
                                <td><b>UNKNOWN_ERROR</b></td>
                                <td>Something unexpected happened</td>
                                <td>500</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <section class="accordion-item">
            <div class="accordion-header">
                <div class="http-method get">GET</div>
                <h4>/short-codes</h4>
            </div>
            <div class="accordion-body">
                <div class="accordion-body-inner">
                    <blockquote>Get a paginated list of all the shortened URLs. The list contains 10 elements per page.</blockquote>
                    <table class="alt">
                        <tbody>
                            <tr>
                                <td>Query params</td>
                                <td>
                                    <ul>
                                        <li>page: <code>string</code> &rarr; The page to list. Defaults to 1 if not provided.</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <b>SUCCESSFUL RESPONSE</b>
                    <pre>
                        <code>{
    "shortUrls": {
        "data": [
            {
                "shortCode": "abc123",
                "originalUrl": "http://www.alejandrocelaya.com",
                "dateCreated": "2016-04-30T18:01:47+0200",
                "visitsCount": 4
            },
            {
                "shortCode": "def456",
                "originalUrl": "http://www.alejandrocelaya.com/en",
                "dateCreated": "2016-04-30T18:03:43+0200",
                "visitsCount": 0
            },
            {
                "shortCode": "ghi789",
                "originalUrl": "http://www.alejandrocelaya.com/es",
                "dateCreated": "2016-04-30T18:10:38+0200",
                "visitsCount": 0
            },
            {
                "shortCode": "jkl987",
                "originalUrl": "http://www.alejandrocelaya.com/es/",
                "dateCreated": "2016-04-30T18:10:57+0200",
                "visitsCount": 0
            },
            {
                "shortCode": "mno654",
                "originalUrl": "http://blog.alejandrocelaya.com/2016/04/09/improving-zend-service-manager-workflow-with-annotations/",
                "dateCreated": "2016-04-30T19:21:05+0200",
                "visitsCount": 1
            },
            {
                "shortCode": "pqr321",
                "originalUrl": "http://www.google.com",
                "dateCreated": "2016-05-01T11:19:53+0200",
                "visitsCount": 0
            },
            {
                "shortCode": "stv159",
                "originalUrl": "http://www.acelaya.com",
                "dateCreated": "2016-06-12T17:49:21+0200",
                "visitsCount": 0
            },
            {
                "shortCode": "wxy753",
                "originalUrl": "http://www.atomic-reader.com",
                "dateCreated": "2016-06-12T17:50:27+0200",
                "visitsCount": 0
            },
            {
                "shortCode": "zab852",
                "originalUrl": "http://foo.com",
                "dateCreated": "2016-07-03T09:07:36+0200",
                "visitsCount": 0
            },
            {
                "shortCode": "cde963",
                "originalUrl": "https://www.facebook.com.com",
                "dateCreated": "2016-07-03T09:12:35+0200",
                "visitsCount": 0
            }
        ],
        "pagination": {
            "currentPage": 4,
            "pagesCount": 15
        }
    }
}</code>
                    </pre>
                    <b>ERROR RESPONSE</b>
                    <pre>
                        <code>{
    "error": "UNKNOWN_ERROR",
    "message": "Unexpected error occurred"
}</code>
                    </pre>
                    <table class="alt errors-list">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Desc.</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>UNKNOWN_ERROR</b></td>
                                <td>Something unexpected happened</td>
                                <td>500</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <section class="accordion-item">
            <div class="accordion-header">
                <div class="http-method get">GET</div>
                <h4>/short-codes/{shortCode}/visits</h4>
            </div>
            <div class="accordion-body">
                <div class="accordion-body-inner">
                    <blockquote>Get the list of visits on provided short code.</blockquote>
                    <table class="alt">
                        <tbody>
                            <tr>
                                <td>Route params</td>
                                <td>
                                    <ul>
                                        <li>shortCode: <code>string</code> &rarr; The shortCode from which we want to get the visits.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Query params</td>
                                <td>
                                    <ul>
                                        <li>startDate: <code>string</code> &rarr; If provided, only visits older that this date will be returned.</li>
                                        <li>endDate: <code>string</code> &rarr; If provided, only visits newer that this date will be returned.</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <b>SUCCESSFUL RESPONSE</b>
                    <pre>
                        <code>{
    "visits": {
        "data": [
            {
                "referer": null,
                "date": "2016-06-18T09:32:22+0200",
                "remoteAddr": "127.0.0.1",
                "userAgent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/49.0.2623.87 Safari/537.36"
            },
            {
                "referer": null,
                "date": "2016-04-30T19:20:06+0200",
                "remoteAddr": "127.0.0.1",
                "userAgent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/49.0.2623.87 Safari/537.36"
            },
            {
                "referer": "google.com",
                "date": "2016-04-30T19:19:57+0200",
                "remoteAddr": "1.2.3.4",
                "userAgent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/49.0.2623.87 Safari/537.36"
            },
            {
                "referer": null,
                "date": "2016-04-30T19:17:35+0200",
                "remoteAddr": "127.0.0.1",
                "userAgent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/49.0.2623.87 Safari/537.36"
            }
        ],
    }
}</code>
                    </pre>
                    <b>ERROR RESPONSE</b>
                    <pre>
                        <code>{
    "error": "INVALID_ARGUMENT",
    "message": "Provided short code \"abc123\" is invalid"
}</code>
                    </pre>
                    <table class="alt errors-list">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Desc.</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>INVALID_ARGUMENT</b></td>
                                <td>The short code does not belong to any short URL</td>
                                <td>404</td>
                            </tr>
                            <tr>
                                <td><b>UNKNOWN_ERROR</b></td>
                                <td>Something unexpected happened</td>
                                <td>500</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
