{% extends 'api-docs.html.twig' %}

{% block apiContent %}
    <header>
        <h4>Language</h4>
    </header>
    <p>This API currently supports two languages, spanish and english.</p>
    <p>The language is just used to translate the human-friendly error messages, so it could be useful during development.</p>
    <p>You will have to set the language of your choice in the <code>Accept-Language</code>. For example <code>Accept-Language: es</code>.</p>
    <p>If an invalid language is provided, or no language is provided at all, english will be used.</p>
{% endblock %}
