code {
    white-space: nowrap;
}

blockquote p:last-child {
    margin-bottom: 0;
}

button {
    outline: none;
}

.image.app img {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.external-app-link {
    vertical-align: middle;
}
.external-app-link i {
    float: right;
    margin-left: 10px;
}

.hljs {
    margin: 0;
}

@media screen and (max-width: 736px) and (orientation: portrait) {
    .spotlight .content {
        text-align: left !important;
    }
}
