{% extends 'layout.html.twig' %}

{% block content %}
    <!-- Header -->
    {% include 'partials/small-header.html.twig' %}

    <section id="one" class="wrapper">
        <div class="inner alt">
            <section class="special">
                <div class="content">
                    {% block error %}
                        <h3><b>Oops!</b> This page does not exist.</h3>
                    {% endblock %}
                    <p>Use your browser's Back button to navigate to the page you have previously come from or just press this button.</p>
                    <ul class="actions">
                        <li><a href="{{ path('template', {'slug': null}) }}" class="button special icon fa-home">Home</a></li>
                    </ul>
                </div>
            </section>
        </div>
    </section>
{% endblock %}
