.side-menu-contents {
    border-left: 1px solid #e6e6e6;
    margin-left: -1px;
}

.side-menu-container {
    position: sticky;
    top: 54px;
}

.side-menu-collapser {
    display: block;
    width: 100%;
    text-align: left;
    padding: 0 10px;
    border-bottom: 1px solid #e6e6e6;
    box-shadow: none;
    border-radius: 0;
    font-size: 16px;
}

.side-menu-collapser .icon {
    float: right;
}

ul.side-menu {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

ul.side-menu li {
    border-color: #e6e6e6;
    border-top-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    padding-left: 0;
}
ul.side-menu li:first-child {
    border-top: 0;
}
ul.side-menu li a,
ul.side-menu li span {
    border: none;
    display: block;
    padding: 0.5em 0;
    font-weight: normal;
    position: relative;
}
ul.side-menu li a:not(:hover).selected {
    color: #333;
}

ul.side-menu li a.selected:before {
    content: "";
    position: absolute;
    top: calc(50% - 5px);
    right: -5px;
    display: block;
    background: white;
    border: 1px solid #d6d6d6;
    border-width: 1px 1px 0 0;
    transform: rotate(-135deg);
    width: 10px;
    height: 10px;
}

ul.side-menu .submenu {
    list-style: none;
    padding-left: 0;
}

ul.side-menu .submenu li {
    padding-left: 1em;
    border-right: none;
}
ul.side-menu .submenu li:first-child {
    border-top: 1px solid #e6e6e6;
}
ul.side-menu .submenu a,
ul.side-menu .submenu span {
    padding: 0.2em 0;
    font-size: 80%;
}

@media (min-width: 981px) {
    .side-menu-collapser {
        display: none;
    }
}

@media (max-width: 980px) {
    .side-menu-nav {
        margin-bottom: 2em;
        background-color: white;
    }

    .side-menu-container {
        top: 53px;
    }
}

@media screen and (max-width: 980px) {
    ul.side-menu:not(.show) {
        display: none;
    }
    ul.side-menu li {
        border-right: none;
    }
    ul.side-menu li a.selected:before{
        display: none;
    }
    .side-menu-contents {
        border-left: none;
        margin-left: 0;
    }
    ul.side-menu li a,
    ul.side-menu li span {
        padding-left: 10px;
    }
}
