/* Menu */
#navbar {
    min-height: 50px;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 2px solid transparent;
    background-color: #4696e5;
    background-image: url("/images/background/overlay.png"), url("/images/background/pattern-size1.svg");
    background-position: top left, center center;
    background-attachment: fixed, fixed;
    background-size: auto, cover;
    z-index: 10;
    -webkit-transition: border .3s ease-in-out;
    -moz-transition: border .3s ease-in-out;
    transition: border .3s ease-in-out;
}
#navbar.active {
    border-bottom-color: rgba(255, 255, 255, 0.25);
}

#navbar .logo {
    float: left;
    font-weight: bold;
    color: white;
    border-top: 2px solid transparent;
}
#navbar .menu {
    float: right;
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#navbar .menu li {
    font-weight: normal;
    display: inline-block;
    color: #d0e4f8;
    padding: 0;
}
#navbar .menu li.active a {
    border-bottom: 2px solid white !important;
}
#navbar .menu li a {
    border-top: 2px solid transparent;
    margin-bottom: -2px;
}
#navbar .menu li:hover a, #navbar .menu li.active a {
    color: #fff;
}

@media (max-width: 736px) {
    #navbar .menu li.active a {
        border-bottom-color: transparent !important;
        position: relative;
    }
    #navbar .menu li.active a:after {
        content: '\f00c';
        position: absolute;
        right: 10px;
        color: inherit;
        font-family: FontAwesome;
    }
}

#navbar a {
    display: block;
    height: 100%;
    padding: 9px 15px;
    line-height: 32px;
    background-color: transparent;
    border: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
#navbar a:hover {
    background: rgba(255, 255, 255, .15);
}
#navbar .logo img {
    height: 28px;
    vertical-align: middle;
}

#navbar .menu-collapser {
    position: absolute;
    right: 20px;
    top: 8px;
    font-size: 26px;
    padding: 0 8px;
    height: 34px;
    border: none;
    background-color: transparent;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    cursor: pointer;
    border: none;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
    color: #d0e4f8 !important;
    display: none;
    outline: none;
}
#navbar .menu-collapser:hover,
#navbar .menu-collapser:active {
    background-color: rgba(255, 255, 255, 0.15);
}
#navbar .menu-collapser .fa {
    display: block;
}

@media (max-width: 736px) {
    #navbar .menu-collapser {
        display: block;
    }

    #navbar .menu:not(.show) {
        display: none;
    }

    #navbar .menu {
        float: none;
        clear: both;
        width: 100%;
    }

    #navbar .menu li {
        display: block;
    }
}


.side-menu-contents {
    border-left: 1px solid #e6e6e6;
    margin-left: -1px;
}

.side-menu-container {
    position: sticky;
    top: 54px;
}

.side-menu-collapser {
    display: block;
    width: 100%;
    text-align: left;
    padding: 0 10px;
    border-bottom: 1px solid #e6e6e6;
    box-shadow: none;
    border-radius: 0;
    font-size: 16px;
}

.side-menu-collapser .icon {
    float: right;
}

@media (min-width: 981px) {
    .side-menu-collapser {
        display: none;
    }
}

@media (max-width: 980px) {
    .side-menu-nav {
        margin-bottom: 2em;
        background-color: white;
    }

    .side-menu-container {
        top: 53px;
    }
}

ul.side-menu {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

ul.side-menu li {
    border-color: #e6e6e6;
    border-top-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    padding-left: 0;
}
ul.side-menu li:first-child {
    border-top: 0;
}
ul.side-menu li a,
ul.side-menu li span {
    border: none;
    display: block;
    padding: 0.5em 0;
    font-weight: normal;
    position: relative;
}
ul.side-menu li a:not(:hover).selected {
    color: #333;
}

ul.side-menu li a.selected:before {
    content: "";
    position: absolute;
    top: calc(50% - 5px);
    right: -5px;
    display: block;
    background: white;
    border: 1px solid #d6d6d6;
    border-width: 1px 1px 0 0;
    transform: rotate(-135deg);
    width: 10px;
    height: 10px;
}

ul.side-menu .submenu {
    list-style: none;
    padding-left: 0;
}

ul.side-menu .submenu li {
    padding-left: 1em;
    border-right: none;
}
ul.side-menu .submenu li:first-child {
    border-top: 1px solid #e6e6e6;
}
ul.side-menu .submenu a,
ul.side-menu .submenu span {
    padding: 0.2em 0;
    font-size: 80%;
}

@media screen and (max-width: 980px) {
    ul.side-menu:not(.show) {
        display: none;
    }
    ul.side-menu li {
        border-right: none;
    }
    ul.side-menu li a.selected:before{
        display: none;
    }
    .side-menu-contents {
        border-left: none;
        margin-left: 0;
    }
    ul.side-menu li a,
    ul.side-menu li span {
        padding-left: 10px;
    }
}



@media screen and (max-width: 736px) {
    .accordion .http-method {
        float: none;
        margin: 0;
    }
}

.image.app img {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.external-app-link {
    vertical-align: middle;
}
.external-app-link i {
    float: right;
    margin-left: 10px;
}

.feature-image {
    color: #4696e5;
    text-align: center;
    /*color: white;*/
    padding: 10px;
    display: block;
    font-size: 9em;
}

code {
    white-space: nowrap;
}

blockquote p:last-child {
    margin-bottom: 0;
}

button {
    outline: none;
}

.typed-container {
    padding: 25px 3px 0;
    font-family: monospace;
    font-size: .55em;
    line-height: 1.6em;
    overflow: auto;
    white-space: nowrap;
    font-weight: bold;
    color: #555;
}
.typed-container.cli-example-container {
    min-height: 200px;
}
.typed-container.rest-example-container {
    min-height: 300px;
}

.typed-container .green {
    color: #77AA4E;
}
.typed-container .yellow {
    color: #ddb035;
}
.typed-container .black {
    color: #000;
}




.spotlight .fake-browser-ui .frame {
    display: block;
    height: 15px;
    position: absolute;
    top: 5px;
    left: 1px;
}

.spotlight .fake-browser-ui .frame span {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: #eee;
    float: left;
    margin: 0 0 0 4px;
}

.spotlight .fake-browser-ui .frame span.close {
    background-color: #C23824;
}
.spotlight .fake-browser-ui .frame span.minimize {
    background-color: #F2C600;
}
.spotlight .fake-browser-ui .frame span.maximize {
    background-color: #1AAF5D;
}

.spotlight .fake-browser-ui img {
    border-radius: 0 0 2px 2px;
    margin-top: 24px;
}
