{% extends 'layout.html.twig' %}

{% block content %}
    <!-- Header -->
    {% include 'partials/small-header.html.twig' %}

    <section id="one" class="wrapper" xmlns="http://www.w3.org/1999/html">
        <div class="inner alt">
            <section class="spotlight text-only">
                <div class="content">
                    <h3 class="align-center">API Documentation</h3>
                </div>
            </section>
        </div>
    </section>
{% endblock %}
