{% extends 'layout.html.twig' %}

{% block content %}
    <!-- Header -->
    {% include 'partials/small-header.html.twig' %}

    <section id="three" class="wrapper style2 special">
        <header class="major">
            <h2>API Documentation</h2>
        </header>
    </section>
    <section id="one" class="wrapper" xmlns="http://www.w3.org/1999/html">
        <div class="inner alt">
            <section class="spotlight text-only">
                <div class="content">
                    <div class="row">
                        <div class="3u 12u$(medium)">
                            {% include 'api-docs/side-menu.html.twig' %}
                        </div>
                        <div class="9u 12u$(medium)">
                            {% block apiContent %}
                                <header>
                                    <h4>Error management</h4>
                                    <p>When an error occurs while performing a request to the REST API, all the responses contain an <code>error</code> and a <code>message</code> properties. The first one is a unique error code that never changes, and the second is a human-friendly error that helps to know what happened while debugging.</p>
                                </header>
                                <pre>
                                    <code>{
    "error": "INVALID_ARGUMENT",
    "message": "You have to provide both \"username\" and \"password\""
}</code>
                                </pre>
                                <p>Error interpretation depends on the context and the endpoint. Every endpoint includes the documentation for its specific errors.</p>
                                <p>Depending on the error, a specific status code will be returned, using 400 for validation errors, 401 for authentication errors and 500 for other server or unexpected errors.</p>
                                <p>An error will never have a status 200.</p>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
{% endblock %}
