{% extends 'layout.html.twig' %}

{% block content %}
    <!-- Header -->
    {% include 'partials/small-header.html.twig' %}

    <section id="three" class="wrapper style2 special">
        <header class="major">
            <h2>API Documentation</h2>
        </header>
    </section>
    <section id="one" class="wrapper" xmlns="http://www.w3.org/1999/html">
        <div class="inner alt">
            <section class="spotlight text-only">
                <div class="content">
                    <header>
                        <h4>Error management</h4>
                        <p>When an error occurs while performing a request to the REST API, all the responses contain an <code>error</code> and a <code>message</code> properties. The first one is a unique error code that never changes, and the second is a human-friendly error that helps to know what happened while debugging.</p>
                    </header>

                </div>
            </section>
        </div>
    </section>
{% endblock %}
