{% extends 'layout.html.twig' %}

{% block content %}
    <!-- Header -->
    {% include 'partials/small-header.html.twig' %}

    <section id="one" class="wrapper" xmlns="http://www.w3.org/1999/html">
        <header class="major">
            <h2>API Documentation</h2>
        </header>
        <div class="inner alt">
            <section class="spotlight text-only">
                <div class="content">
                    <header>
                        <h4>Error management</h4>
                    </header>
                </div>
            </section>
        </div>
    </section>
{% endblock %}
