{% extends 'layout.html.twig' %}

{% block content %}
    <!-- Two -->
    <section id="one" class="wrapper">
        <div class="inner alt">
            <section class="spotlight">
                <div class="image">
                    <div class="fake-browser-ui">
                        <div class="frame">
                            <span class="close"></span>
                            <span class="minimize"></span>
                            <span class="maximize"></span>
                        </div>

                        <img src="images/shlink-cli-cropped.gif" alt="" />
                    </div>
                </div>
                <div class="content">
                    <h3>Command line interface</h3>
                    <p>Generate and manage short URLs from the command line.<br>List short codes, see visits or get the URL behind a short code.</p>
                </div>
            </section>
            <section class="spotlight">
                <div class="image">
                    <div class="fake-browser-ui">
                        <div class="frame">
                            <span class="close"></span>
                            <span class="minimize"></span>
                            <span class="maximize"></span>
                        </div>

                        <img src="images/pic02.jpg" alt="" />
                    </div>
                </div>
                <div class="content">
                    <h3>REST API</h3>
                    <p>Access your shortened URLs from anywhere by using the built-in REST API.<br>Simple authentication and easy to integrate.</p>
                </div>
            </section>
            <section class="special">
                <ul class="icons labeled">
                    <li><span class="icon fa-camera-retro"><span class="label">Ipsum lorem accumsan</span></span></li>
                    <li><span class="icon fa-refresh"><span class="label">Sed vehicula elementum</span></span></li>
                    <li><span class="icon fa-cloud"><span class="label">Elit fusce consequat</span></span></li>
                    <li><span class="icon fa-code"><span class="label">Lorem nullam tempus</span></span></li>
                    <li><span class="icon fa-desktop"><span class="label">Adipiscing amet sapien</span></span></li>
                </ul>
            </section>
        </div>
    </section>

    <!-- Three -->
    <section id="two" class="wrapper style2 special">
        <header class="major">
            <h2>Why shlink?</h2>
            <p>The name is an abbreviation for "short link", but if you sum shrink+link, the result is shlink too.<br>It is also the sound made by a sword being unsheathed.</p>
        </header>
        <ul class="actions">
            <li><a href="#" class="button special icon fa-download">Download</a></li>
            <li><a href="#" class="button">Learn More</a></li>
        </ul>
    </section>
{% endblock %}
