<!DOCTYPE HTML>
<html>
    <head>
        <title>Shlink - The URL shortener</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="A self-hosted URL shortener.">
        <!--[if lte IE 8]><script src="/assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/css/main.css">
        <!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
        <!--[if lte IE 9]><link rel="stylesheet" href="/assets/css/ie9.css" /><![endif]-->
    </head>
    <body id="top">
        {% include 'partials/menu.html.twig' %}

        {% block content '' %}

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                <li><a href="https://github.com/shlinkio/shlink" target="_blank" class="icon fa-github"><span class="label">Twitter</span></a></li>
                <li><a href="https://twitter.com/shlinkio" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://www.facebook.com/shlinkio" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            </ul>
            <p class="copyright">&copy; {{ 'now' | date('Y') }} Shlink - Template from <a href="http://html5up.net">HTML5 UP</a></p>
        </footer>

        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/jquery.scrolly.min.js"></script>
        <script src="/assets/js/skel.min.js"></script>
        <!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
        <script src="/assets/js/main.js"></script>
    </body>
</html>
