---
import { DocSearch } from '@docsearch/react';
import { Breadcrumb } from '../components/Breadcrumb';
import { DocsSidebar } from '../components/DocsSidebar';
import { Footer } from '../components/Footer';
import Layout from './Layout.astro';

const currentPage = Astro.url.pathname;
// Do not render breadcrumb for base documentation page
const renderBreadcrumbs = !/\/documentation\/?$/.test(currentPage);
---

<Layout pageTitle="Documentation" noFooter={true} leftMenuToggle={true}>
  <div class="docs-wrapper">
    <DocsSidebar currentPage={currentPage} client:load>
      <DocSearch apiKey="0dd162447ab255a125917745c912176b" appId="9SA2I2A9Q8" indexName="shlink" client:only="react" />
    </DocsSidebar>

    <div class="docs-content">
      <div class="container">
        <article class="docs-article">
          {renderBreadcrumbs && <Breadcrumb currentPage={currentPage} />}
          <slot/>
        </article>
      </div>

      <Footer/>
    </div>
  </div>
</Layout>
