
.swagger-ui .topbar {
    background-color: #4696E5;
}

.swagger-ui .topbar .download-url-wrapper .download-url-button {
    background-color: rgba(0, 0, 0, .3);
}

.swagger-ui .topbar .download-url-wrapper input[type=text] {
    border-color: #3169A0;
}

.swagger-ui .topbar .topbar-wrapper span, .swagger-ui .topbar .topbar-wrapper img {
    display: none;
}

.swagger-ui .topbar .topbar-wrapper {
    background: url(/images/shlink-logo-white.png) no-repeat left center;
    background-size: 30px auto;
    position: relative;
}

.swagger-ui .topbar .topbar-wrapper:before {
    position: absolute;
    content: 'Shlink';
    color: #fff;
    left: 40px;
    font-size: 24px;
    font-weight: bold;
}
