<?php
use Doctrine\Common\Cache;
use Shlinkio\Website\Factory\CacheDelegator;

return [

    'dependencies' => [
        'invokables' => [
            Cache\ArrayCache::class => Cache\ArrayCache::class,
        ],
        'aliases' => [
            Cache\Cache::class => Cache\ArrayCache::class,
        ],
        'delegators' => [
            Cache\ArrayCache::class => [
                CacheDelegator::class,
            ],
        ],
    ],

];
