@import "~bootstrap/scss/bootstrap.scss";
@import "~highlight.js/scss/vs2015";
@import "~docsearch.js/dist/npm/styles/main";
@import "theme/theme";

.logo-icon {
  width: 40px;
}

.indivisible {
  white-space: nowrap;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -.125em;
}

.svg-inline--fa.fa-w-16 {
  width: 1em;
}

.docs-article {
  h1, h2 {
    margin-bottom: 2rem;
  }

  h3 {
    margin: 1.5rem 0 1rem;
  }

  li {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }

  img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }

  blockquote strong {
    color: inherit;
  }
}

.docs-logo-wrapper {
  top: 80px;
  position: fixed;
}

.docs-content {
  padding-bottom: 0;

  h1, h2, h3, h4, h5, h6 {
    &:hover .anchor {
      display: inline-block;
    }
  }

  .anchor {
    display: none;
    color: inherit;
    font-size: 1.2rem;
    margin-left: -1.7rem;
    vertical-align: middle;
    padding-right: .5rem;
  }

  .hidden-title-anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
  }
}

.docs-sidebar {
  .nav-item:not(.section-title) + .section-title {
    margin-top: 1rem;
  }
}

.docs-menu-toggle {
  display: none;
  vertical-align: text-bottom;
  margin-right: 1em;

  @media (max-width: 1199px) {
    display: inline-block !important;
  }
}

.docs-sidebar {
  overflow: visible;
  @include transform(translateX(0));
  display: block;

  @media (max-width: 1199px){
    @include transform(translateX(-($docs-sidebar-size + 10px)));
    display: block;
  }
}

.docs-nav {
  height: calc(100vh - 145px);

  /* Forefox scrollbar */
  scrollbar-color: rgba(0, 0, 0, 0.2) $smoky-white;;
  scrollbar-width: thin;

  /* Chrome webkit scrollbar */
  &::-webkit-scrollbar {
    width: 6px;
    background-color: $smoky-white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.125);
    @include border-radius(0.5rem);
  }
}

.hljs {
  padding: .7em;
}

blockquote {
  padding: .7rem 1.2rem;
  margin: 0 0 20px;
  border-left: .3rem solid #eee;
  background-color: #f9f9f9;
  color: #848d96;
}

blockquote p:last-child {
  margin-bottom: 0;
}

li > ul {
  margin-bottom: 0;
}

a {
  color: $theme-color-primary;
}

code {
  color: #e83e8c;
}
